p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

:root {
  --first-bg-color: #303030;
  --second-bg-color: #ffffff;
  --third-bg-color: #f7f7f7;
  --header-text-color: #ffffff;
  --first-btn-color: #ffffff;
  --second-btn-color: #303030;
  --first-title-color: #ffffff;
  --second-title-color: #303030;
  --pre-title-color: rgba(157, 164, 189, 0.6);
  --accent-color: #ff6c00;
  --first-text-color: #303030;
  --second-text-color: #9da4bd;
  --third-text-color: #555555;
  --social-link-color: #303030;
  --modal-form-color: rgba(157, 164, 189, 0.4);
  --basic-gap: 20px;
  --transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn {
  cursor: pointer;
  border: 1px solid var(--accent-color);
  box-sizing: border-box;
  border-radius: 25px;
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.btn--light {
  color: var(--first-btn-color);
  background-color: transparent;
  transition: background-color 250ms var(--transition-cubic);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.pre-title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.pre-title::before {
  content: '';
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: var(--pre-title-color);
}

.pre-title--dark::before {
  background-color: var(--second-title-color);
}

.section-title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px 0 32px 0;
}

.header__container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 73px;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav__item + .site-nav__item {
  margin-left: 30px;
}

.site-nav__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-text-color);
  transition: color 250ms var(--transition-cubic);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

.header__contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contacts__tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-text-color);
}

.contacts__btn {
  margin-left: 40px;
}

.contacts__btn:hover,
.contacts__btn:focus {
  background-color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.hero__container {
  display: flex;
}

.social {
  display: flex;
  align-items: flex-end;
  width: 93px;
  padding: 0 0 40px 23px;
}

.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg) translate(-19px);
  transform-origin: top left;
}

.social__list::before {
  content: '';
  display: block;
  flex-shrink: 0;
  width: 60px;
  height: 1px;
  margin-right: 40px;
  background-color: var(--social-link-color);
}

.social__item + .social__item {
  margin-left: 40px;
}

.social__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--social-link-color);
  transition: color 250ms var(--transition-cubic);
}

.social__link:hover,
.social__link:focus {
  color: var(--accent-color);
}

.hero-main {
  flex-grow: 1;
  padding: 272px 0 206px 96px;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/slider-bg-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--first-bg-color);
}

.hero-main__pre-title {
  margin-bottom: var(--basic-gap);
  color: var(--pre-title-color);
}

.hero-main__title {
  margin-bottom: var(--basic-gap);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--first-title-color);
}

.hero-main__after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.about {
  padding: 139px 0 121px 0;
}

.about__container {
  display: flex;
}

.about__list {
  display: flex;
  flex-shrink: 0;
  margin-right: 64px;
}

.about__item + .about__item {
  margin-left: 30px;
}

.about__pre-title {
  margin-bottom: var(--basic-gap);
  color: var(--first-text-color);
}

.about__title {
  margin-bottom: var(--basic-gap);
  color: var(--second-title-color);
}

.about__after-title {
  margin-bottom: var(--basic-gap);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
}

.about__text {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
}

.about__btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--second-btn-color);
  background-color: transparent;
  transition: color 250ms var(--transition-cubic), background-color 250ms var(--transition-cubic);
}

.about__btn:hover,
.about__btn:focus {
  color: var(--first-btn-color);
  background-color: var(--accent-color);
}

.prices {
  padding: 130px 0 130px 0;
  margin: 0 auto;
  max-width: 1280px;
  background-image: url(../images/prices-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #111319;
}

.prices__pre-title {
  margin-bottom: var(--basic-gap);
  color: var(--pre-title-color);
}

.prices__title {
  margin-bottom: 44px;
  color: var(--first-title-color);
}

.prices__wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.prices__list {
  width: 50%;
  padding: 30px 40px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.prices__list:nth-child(4n-1),
.prices__list:nth-child(4n-2) {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.prices__item::before {
  content: '';
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
  margin-right: 6px;
  margin-left: 6px;
  flex-grow: 1;
}

.prices__item + .prices__item {
  margin-top: 20px;
}

.prices__text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.prices__text:first-child {
  order: -1;
}

.prices__btn {
  margin: 0 auto;
  display: block;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--first-btn-color);
  background-color: transparent;
  transition: background-color 250ms var(--transition-cubic);
}

.prices__btn:hover,
.prices__btn:focus {
  background-color: var(--accent-color);
}

.reasons {
  padding: 121px 0 130px 0;
}

.reasons__container {
  display: flex;
  justify-content: space-between;
}

.reasons__results,
.reasons__info {
  width: calc((100% - 30px) / 2);
}

.reasons__results {
  display: flex;
  justify-content: center;
}

.reasons__list {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
}

.reasons__item {
  width: 170px;
  height: 133px;
  padding: 20px 24px;
  background-color: var(--third-bg-color);
}

.reasons__item:nth-child(odd) {
  margin-right: 30px;
}

.reasons__item:nth-child(even) {
  margin-top: 30px;
}

.reasons__item--different {
  padding: 20px;
}

.reasons__count {
  display: block;
  text-align: center;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--first-text-color);
}

.reasons__achieve {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--first-text-color);
}

.reasons__pre-title {
  margin-bottom: var(--basic-gap);
  color: var(--first-text-color);
}

.reasons__title {
  margin-bottom: var(--basic-gap);
  color: var(--second-title-color);
}

.reasons__after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
}

.masters {
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: var(--third-bg-color);
}

.masters__pre-title {
  margin-bottom: var(--basic-gap);
  color: var(--first-text-color);
}

.masters__title {
  margin-bottom: 44px;
  color: var(--second-title-color);
}

.masters__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.masters__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.masters__link:hover .overlay {
  transform: translateY(0);
}

.masters__link:focus .overlay {
  transform: translateY(0);
}

.masters__thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  padding: 50px 30px;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 48, 48, 0.8);
  transform: translateY(101%);
  transition: transform 250ms var(--transition-cubic);
}

.overlay__text {
  font-size: 14px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: rgba(255, 108, 0, 0.8);
}

.card {
  padding: 30px 82px 0 82px;
  text-align: center;
}

.card__title {
  margin-bottom: 8px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}

.card__text {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.social-net {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-net__item + .social-net__item {
  margin-left: 10px;
}

.social-net__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: 2px dashed transparent;
  border-radius: 50%;
  color: var(--second-btn-color);
  background-color: var(--second-bg-color);
  transition: border-color 250ms var(--transition-cubic), color 250ms var(--transition-cubic);
}

.social-net__link:hover,
.social-net__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.social-net__icon {
  fill: currentColor;
}

.gallery {
  padding-top: 130px;
  padding-bottom: 130px;
}

.gallery__pre-title {
  margin-bottom: 44px;
  color: var(--first-text-color);
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.gallery__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.online-contacts {
  background-color: #191c26;
  background-image: url(../images/contacts-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: calc(100% / 2 - 15px);
}

.online-contacts__container {
  display: flex;
}

.online {
  padding: 130px 0 130px 0;
  width: calc(100% / 2 + 15px);
}

.online__title {
  font-weight: 700;
  color: var(--first-title-color);
  margin-bottom: 44px;
}

.online__wrap {
  display: flex;
  margin-bottom: 44px;
}

.online__animation {
  position: relative;
}

.online__input {
  width: 260px;
  height: 24px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: none;
  border-bottom: 1px solid var(--modal-form-color);
  color: var(--first-title-color);
  background-color: transparent;
  transition: border-color 250ms var(--transition-cubic);
}

.online__input--long {
  width: 270px;
  margin-right: 30px;
}

.online__input::placeholder {
  color: transparent;
}

.online__input:focus + .online__label,
.online__input:not(:placeholder-shown) + .online__label {
  color: var(--first-title-color);
  transform: translateY(-35px) translateX(-5px) scale(0.75);
}

.online__input:hover,
.online__input:focus {
  border-color: var(--first-title-color);
}

.online__label {
  position: absolute;
  top: 50%;
  left: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--modal-form-color);
  transform: translateY(-50%);
  transition: color 250ms var(--transition-cubic), transform 250ms var(--transition-cubic);
}

.online__text {
  margin-bottom: 44px;
  width: 560px;
  height: 76px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: none;
  border-bottom: 1px solid var(--modal-form-color);
  resize: none;
  outline: none;
  color: var(--first-title-color);
  background-color: transparent;
  transition: border-color 250ms var(--transition-cubic);
}

.online__text::placeholder {
  color: var(--modal-form-color);
  transition: color 250ms var(--transition-cubic);
}

.online__text:hover,
.online__text:focus {
  border-color: var(--first-title-color);
}

.online__text:hover::placeholder,
.online__text:focus::placeholder {
  color: var(--first-title-color);
}

.online__btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--first-title-color);
  background-color: transparent;
  transition: background-color 250ms var(--transition-cubic);
}

.online__btn:hover,
.online__btn:focus {
  background-color: var(--accent-color);
}

.contacts__container {
  padding: 130px 0 130px 140px;
}

.contacts__title {
  margin-bottom: 40px;
  font-weight: 700;
  color: var(--first-title-color);
}

.address {
  margin-bottom: 70px;
}

.contacts__text {
  display: flex;
  align-items: center;
  margin-bottom: var(--basic-gap);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--first-title-color);
}

.contacts__text::before {
  content: '';
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: var(--modal-form-color);
}

.contacts__schedule {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.address__item {
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.address__item:nth-child(3) {
  text-decoration: underline;
}

.address__item + .address__item {
  margin-top: var(--basic-gap);
}

.address__link {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.address__icon {
  margin-right: 16px;
  fill: currentColor;
}

.footer__container {
  display: flex;
  align-items: center;
}

.footer__copyright {
  padding-top: 56px;
  padding-bottom: 56px;
  margin-left: 56px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--second-text-color);
}

.footer__list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.footer__list::before {
  content: '';
  display: block;
  flex-shrink: 0;
  width: 60px;
  height: 1px;
  margin-right: 40px;
  background-color: var(--social-link-color);
}

.footer__item + .footer__item {
  margin-left: 40px;
}

.footer__link {
  display: flex;
  padding-top: 56px;
  padding-bottom: 56px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--social-link-color);
  transition: color 250ms var(--transition-cubic);
}

.footer__link:hover,
.footer__link:focus {
  color: var(--accent-color);
}
/*# sourceMappingURL=main.css.map */