.contacts__container {
  padding: 84px 0;

  @include tablet {
    padding: 100px 0;
    text-align: left;
  }

  @include desktop {
    padding: 130px 0 130px 140px;
  }
}

.contacts__title {
  margin-bottom: 40px;
  text-align: center;
  color: var(--first-title-color);

  @include tablet {
    @include font(700, 42px, 1.17, 0.05em);
    text-align: left;
  }
}

.address {
  margin-bottom: 44px;
  @include desktop {
    margin-bottom: 70px;
  }
}

.schedule__wrapper {
  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  @include desktop {
    display: block;
  }
}

.contacts__text {
  display: flex;
  align-items: center;
  margin-bottom: var(--basic-gap);

  @include font(600, 11px, 1.36, 0.1em);
  text-transform: uppercase;
  color: var(--first-title-color);

  &::before {
    content: '';
    width: 60px;
    height: 1px;

    margin-right: 20px;
    background-color: var(--modal-form-color);
  }
}

.contacts__schedule {
  @include font(400, 18px, 1.67, 0.02em);
  color: var(--second-text-color);
}

.address__item {
  @include font(400, 18px, 1.67, 0.02em);
  font-style: normal;

  &:nth-child(3) {
    text-decoration: underline;
  }
}

.address__item + .address__item {
  margin-top: var(--basic-gap);
}

.address__link {
  display: flex;
  align-items: center;
  @include font(400, 18px, 1.67, 0.02em);

  color: var(--second-text-color);
}

.address__icon {
  margin-right: 16px;

  fill: currentColor;
}
