.footer__container {
  display: flex;
  align-items: center;
  padding: 0 30px;

  @include tablet {
    padding: 0 40px;
  }

  @include desktop {
    padding: 0;
  }
}

.footer__copyright {
  padding-top: 56px;
  padding-bottom: 56px;

  @include font(600, 11px, 1.36, 0.2em);
  color: var(--second-text-color);
}

.footer__list {
  display: flex;
  align-items: center;
  margin-left: auto;

  @include tablet {
    &::before {
      content: '';
      display: block;
      flex-shrink: 0;
      width: 60px;
      height: 1px;
      margin-right: 40px;

      background-color: var(--social-link-color);
    }
  }
}

.footer__item + .footer__item {
  margin-left: 20px;
  @include tablet {
    margin-left: 40px;
  }
}

.footer__link {
  display: flex;
  padding-top: 56px;
  padding-bottom: 56px;

  @include font(600, 11px, 1.36, 0.2em);

  color: var(--social-link-color);

  transition: color 250ms var(--transition-cubic);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
