.footer__container {
  display: flex;
  align-items: center;
}

.footer__copyright {
  padding-top: 56px;
  padding-bottom: 56px;
  margin-left: 56px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--second-text-color);
}

.footer__list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.footer__list::before {
  content: '';
  display: block;
  flex-shrink: 0;
  width: 60px;
  height: 1px;
  margin-right: 40px;

  background-color: var(--social-link-color);
}

.footer__item + .footer__item {
  margin-left: 40px;
}

.footer__link {
  display: flex;
  padding-top: 56px;
  padding-bottom: 56px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--social-link-color);

  transition: color 250ms var(--transition-cubic);
}

.footer__link:hover,
.footer__link:focus {
  color: var(--accent-color);
}
