.online-contacts {
  background-color: #191c26;
  background-image: url(../images/contacts-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: calc(100% / 2 - 15px);
}

.online-contacts__container {
  display: flex;
}

.online {
  padding: 130px 0 130px 0;
  width: calc(100% / 2 + 15px);
}

.online__title {
  font-weight: 700;
  color: var(--first-title-color);
  margin-bottom: 44px;
}

.online__wrap {
  display: flex;
  margin-bottom: 44px;
}

.online__animation {
  position: relative;
}

.online__input {
  width: 260px;
  height: 24px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  border: none;
  border-bottom: 1px solid var(--modal-form-color);

  color: var(--first-title-color);
  background-color: transparent;

  transition: border-color 250ms var(--transition-cubic);

  &::placeholder {
    color: transparent;
  }

  &:hover,
  &:focus {
    border-color: var(--first-title-color);
  }
}

.online__input--long {
  width: 270px;
  margin-right: 30px;
}

.online__input:focus + .online__label,
.online__input:not(:placeholder-shown) + .online__label {
  color: var(--first-title-color);
  transform: translateY(-35px) translateX(-5px) scale(0.75);
}

.online__label {
  position: absolute;
  top: 50%;
  left: 0;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--modal-form-color);

  transform: translateY(-50%);
  transition: color 250ms var(--transition-cubic),
    transform 250ms var(--transition-cubic);
}

.online__text {
  margin-bottom: 44px;

  width: 560px;
  height: 76px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  border: none;
  border-bottom: 1px solid var(--modal-form-color);

  resize: none;
  outline: none;

  color: var(--first-title-color);
  background-color: transparent;

  transition: border-color 250ms var(--transition-cubic);

  &::placeholder {
    color: var(--modal-form-color);
    transition: color 250ms var(--transition-cubic);
  }

  &:hover,
  &:focus {
    border-color: var(--first-title-color);
  }

  &:hover::placeholder,
  &:focus::placeholder {
    color: var(--first-title-color);
  }
}

.online__btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: var(--first-title-color);
  background-color: transparent;

  transition: background-color 250ms var(--transition-cubic);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
