.reasons {
  padding: 84px 0;

  @include tablet {
    padding: 100px 0;
  }

  @include desktop {
    padding: 121px 0 130px 0;
  }
}

.reasons__container {
  display: flex;
  flex-direction: column-reverse;
  padding: 0 30px;

  @include tablet {
    padding: 0 40px;
  }

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
}

.reasons__results,
.reasons__info {
  width: 100%;

  @include desktop {
    width: calc((100% - 30px) / 2);
  }
}

.reasons__results {
  display: flex;
  justify-content: center;
}

.reasons__list {
  @include mobile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  @include tablet {
    justify-content: flex-end;
  }

  @include desktop {
    width: 370px;
  }
}

.reasons__item {
  position: relative;
  width: 194px;
  height: 133px;
  padding: 20px 36px;

  background-color: var(--third-bg-color);
  &:not(:nth-child(4)) {
    margin-bottom: 15px;
  }

  @include mobile {
    &:nth-child(odd) {
      margin-bottom: 0;
      margin-right: 30px;
    }

    &:nth-child(even) {
      margin-bottom: 0;
      margin-top: 30px;
    }
  }

  @include tablet {
    width: 210px;
    padding: 20px 44px;
  }

  @include desktop {
    width: 170px;
    padding: 20px 24px;
  }
}

.reasons__item--different {
  padding: 20px;
}

.reasons__count {
  display: block;
  text-align: center;
  margin-bottom: 6px;
  @include font(700, 42px, 1.36, 0.05em);
  text-align: center;
  color: var(--first-text-color);
}

.reasons__index {
  position: absolute;
  top: 27px;
  right: 30px;
  width: 13px;
  height: 22px;

  font-family: 'Open Sans';
  font-style: normal;
  @include font(600, 16px, 1.38, 0.05em);

  color: var(--accent-color);
}

.reasons__achieve {
  @include font(600, 11px, 1.36, 0.05em);
  text-align: center;
  color: var(--first-text-color);
}

.reasons__pre-title {
  margin-bottom: var(--basic-gap);

  color: var(--first-text-color);
}

.reasons__title {
  margin-bottom: var(--basic-gap);
  color: var(--second-title-color);

  @include tablet {
    width: 420px;
    @include font(700, 42px, 1.17, 0.05em);
  }
}

.reasons__after-title {
  @include font(400, 18px, 1.67, 0.02em);
  margin-bottom: 29px;
  color: var(--third-text-color);

  @include tablet {
    width: 500px;
  }
}
