.btn {
  min-width: 160px;
  height: 40px;
  cursor: pointer;
  border: 1px solid var(--accent-color);
  box-sizing: border-box;
  border-radius: 25px;

  font-family: inherit;
  @include font(600, 12px, 1.33, 0.09em);
  text-transform: uppercase;
}

.btn--light {
  color: var(--first-btn-color);
  background-color: transparent;
  transition: background-color 250ms var(--transition-cubic);
}
