:root {
  --first-bg-color: #303030;
  --second-bg-color: #ffffff;
  --third-bg-color: #f7f7f7;
  --header-text-color: #ffffff;
  --first-btn-color: #ffffff;
  --second-btn-color: #303030;
  --first-title-color: #ffffff;
  --second-title-color: #303030;
  --pre-title-color: rgba(157, 164, 189, 0.6);
  --accent-color: #ff6c00;
  --first-text-color: #303030;
  --second-text-color: #9da4bd;
  --third-text-color: #555555;
  --social-link-color: #303030;
  --modal-form-color: rgba(157, 164, 189, 0.4);
  --basic-gap: 20px;
  --transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
